Dify/股票价格分析智能体/股票价格分析智能体.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 股票价格分析智能体
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1772693679755-source-1772693846466-target
      source: '1772693679755'
      sourceHandle: source
      target: '1772693846466'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1772693846466-source-llm-target
      source: '1772693846466'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1772695179897-target
      source: llm
      sourceHandle: source
      target: '1772695179897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772695179897-source-answer-target
      source: '1772695179897'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: 文件名
          options: []
          placeholder: ''
          required: true
          type: file
          variable: file
      height: 109
      id: '1772693679755'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}} '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 6e582c64-3ec7-4535-84a4-1b5bfad38b49
          role: system
          text: '你是一个文档提取专家，请根据用户上传文档内容{{#1772693846466.text#}}提取该表格里面的数据返回 json 格式数据。

            其中内容格式‘上证指数日线行情’、‘open’、‘high’、‘low’、‘close’、‘volume’字段返回信息，返回的结果信息以 json
            格式返回

            返回数据格式如下：

            {

            "上证指数日线行情": [

            {

            "date": "2025-02-19 00:00:00",

            "open": 3320.78,

            "high": 3352.09,

            "low": 3320.58,

            "close": 3351.54,

            "vol": 50291300000

            },

            {

            "date": "2025-02-20 00:00:00",

            "open": 3347.59,

            "high": 3355.56,

            "low": 3338.03,

            "close": 3350.78,

            "vol": 50435700000

            }

            ]

            }'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 650.3213776454685
        y: 311.05185875747935
      positionAbsolute:
        x: 650.3213776454685
        y: 311.05185875747935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1772695179897.result#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 1544.2312735894443
        y: 311.05185875747935
      positionAbsolute:
        x: 1544.2312735894443
        y: 311.05185875747935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1772693679755'
        - file
      height: 105
      id: '1772693846466'
      position:
        x: 368.6090751082463
        y: 303
      positionAbsolute:
        x: 368.6090751082463
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport os\nimport re\n\ndef main(json_str: str) -> dict:\n\
          \    try:\n        # 预处理：清理非 JSON 部分\n        json_match = re.search(r'\\\
          {.*\\}', json_str, re.DOTALL)\n        if not json_match:\n            return\
          \ {\"Error\": \"Error: Invalid JSON format\"}\n        # 提取合法的 JSON 部分\n\
          \        cleaned_json_str = json_match.group(0)\n        # 解析 JSON 数据\n\
          \        data = json.loads(cleaned_json_str)\n        filename = data.get(\"\
          filename\", \"stock_chart.html\")\n        stock_data = data.get(\"上证指数日线行情\"\
          , [])\n        # 准备数据格式\n        dates = [item['date'].split(' ')[0] for\
          \ item in stock_data]  # 提取日期部分（去掉时间）\n        open_prices = [item['open']\
          \ for item in stock_data]\n        close_prices = [item['close'] for item\
          \ in stock_data]\n        low_prices = [item['low'] for item in stock_data]\n\
          \        high_prices = [item['high'] for item in stock_data]\n        volumes\
          \ = [item['vol'] / 1e8 for item in stock_data]  # 转换为亿单位\n        # 构建 ECharts\
          \ 配置\n        echarts_config = {\n            \"title\": {\n           \
          \     \"text\": \"上证指数日线行情\"\n            },\n            \"legend\": {\n\
          \                \"data\": [\"开盘价\", \"最高价\", \"最低价\", \"收盘价\", \"成交量\"\
          ],\n            },\n            \"tooltip\": {},\n            \"dataset\"\
          : {\n                \"source\": [\n                    [\"日期\", \"开盘价\"\
          , \"最高价\", \"最低价\", \"收盘价\", \"成交量\"],\n                    *[[dates[i],\
          \ open_prices[i], high_prices[i], low_prices[i], close_prices[i], volumes[i]]\n\
          \                      for i in range(len(dates))]\n                ]\n\
          \            },\n            \"xAxis\": [\n                {\n         \
          \           \"type\": \"category\", \"gridIndex\": 0\n                },\n\
          \                {\n                    \"type\": \"category\", \"gridIndex\"\
          : 1\n                }\n            ],\n            \"yAxis\": [\n     \
          \           {\n                    \"gridIndex\": 0,\n                 \
          \   \"name\": \"价格趋势（单位：点）\"\n                },\n                {\n  \
          \                  \"gridIndex\": 1,\n                    \"name\": \"成交量（单位：亿）\"\
          \n                }\n            ],\n            \"grid\": [\n         \
          \       {\n                    \"bottom\": \"55%\",\n                },\n\
          \                {\n                    \"top\": \"55%\"\n             \
          \   }\n            ],\n            \"series\": [\n                # 第一个网格中的折线图系列\n\
          \                {\"type\": \"line\", \"seriesLayoutBy\": \"row\", \"name\"\
          : \"开盘价\"},\n                {\"type\": \"line\", \"seriesLayoutBy\": \"\
          row\", \"name\": \"最高价\"},\n                {\"type\": \"line\", \"seriesLayoutBy\"\
          : \"row\", \"name\": \"最低价\"},\n                {\"type\": \"line\", \"\
          seriesLayoutBy\": \"row\", \"name\": \"收盘价\"},\n                # 第二个网格中的柱状图系列\n\
          \                {\"type\": \"bar\", \"xAxisIndex\": 1, \"yAxisIndex\":\
          \ 1, \"name\": \"成交量\"}\n            ]\n        }\n        # 生成输出文件\n  \
          \      output = \"echarts\\n\" + json.dumps(echarts_config, indent=2, ensure_ascii=False)\
          \ + \"\\n\"\n        # 返回结果\n        return {\n            \"result\": output\n\
          \        }\n    except Exception as e:\n        return {\n            \"\
          result\": f\"Error: {str(e)}\"\n        }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: echarts代码转换生成
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: json_str
      height: 52
      id: '1772695179897'
      position:
        x: 919.3291854054942
        y: 311.05185875747935
      positionAbsolute:
        x: 919.3291854054942
        y: 311.05185875747935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -848.8319716068286
      y: 316.2175367357042
      zoom: 0.8312378961427878
  rag_pipeline_variables: []
