Dify/Echarts图表助手/Excel文件输出图表.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Excel文件输出图表
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 根据Excel中提供的数据生成对应的Echarts的统计图
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 获取水果和数量
    - 获取水果和价格
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1772439918837-source-1772439940288-target
      source: '1772439918837'
      sourceHandle: source
      target: '1772439940288'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1772439940288-source-1772440018509-target
      source: '1772439940288'
      sourceHandle: source
      target: '1772440018509'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1772440018509-source-1772440253502-target
      source: '1772440018509'
      sourceHandle: source
      target: '1772440253502'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1772440253502-source-1772440383820-target
      source: '1772440253502'
      sourceHandle: source
      target: '1772440383820'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1772440383820-source-1772440563115-target
      source: '1772440383820'
      sourceHandle: source
      target: '1772440563115'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: code
      id: 1772440563115-source-1772440664989-target
      source: '1772440563115'
      sourceHandle: source
      target: '1772440664989'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1772440664989-source-answer-target
      source: '1772440664989'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: 文件
          options: []
          placeholder: ''
          required: true
          type: file
          variable: file
      height: 109
      id: '1772439918837'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1772440664989.result#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 1361
        y: 1027
      positionAbsolute:
        x: 1361
        y: 1027
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1772439918837'
        - file
      height: 105
      id: '1772439940288'
      position:
        x: 254
        y: 496
      positionAbsolute:
        x: 254
        y: 496
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: 用户输入的信息：{{#sys.query#}}
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a9b07605-e1a7-4a3f-b079-3e6013920fe6
          role: system
          text: '# 角色

            # 你是一个数据整理的专家，擅长数据格式的整合和数据的转换

            # 数据

            {{#1772439940288.text#}}

            # 任务

            # 先从数据中提取出满足用户要求的数据 {{#sys.query#}} 然后把数据转换为 csv 格式

            # 输出

            # 把 csv 格式的数据输出'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772440018509'
      position:
        x: 507
        y: 752
      positionAbsolute:
        x: 507
        y: 752
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: '# 任务 提取出csv格式的字符串'
          name: csvdata
          required: false
          type: string
        query:
        - '1772440018509'
        - text
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1772440253502'
      position:
        x: 819
        y: 982
      positionAbsolute:
        x: 819
        y: 982
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '# 角色

            # 你是一个csv格式数据转json数据的技术专家，擅长把csv转换为对应的json数据。

            # 数据

            # {{#1772440253502.csvdata#}}这个数据只有两列

            # 任务

            # 把csv中的两列数据转换对应的json 数据


            # 比如：

            # 水果,数量,价格\n 苹果,10,50 \n 香蕉,12,38 \n 荔枝,15,60 \n 梨子,13,35

            # 转换为：

            # {

            #   "name":["苹果","香蕉","荔枝","梨子"],

            #   "values":[10,12,15,13]

            # }


            # 输出

            # 把上面转换得到的json数据输出即可'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772440383820'
      position:
        x: 1064
        y: 345
      positionAbsolute:
        x: 1064
        y: 345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: '#任务 将返回的字符串中把json的数据提取出来，转换为字符串格式'
          name: jsonData
          required: false
          type: string
        query:
        - '1772440383820'
        - text
        reasoning_mode: prompt
        selected: false
        title: 参数提取器 2
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1772440563115'
      position:
        x: 1381
        y: 548
      positionAbsolute:
        x: 1381
        y: 548
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(jsonData: str) -> dict:\n\n    #\
          \ 解析外层JSON数据\n    #data = json.loads(jsonData)\n    #query_str = data['query']\n\
          \n    # 去除换行符和制表符\n    clean_str = re.sub(r'[\\n\\t]', '', jsonData)\n\n\
          \    # 去除转义的双引号（将\\\"替换为\"）\n    clean_str = re.sub(r'\\\\\"', '\"', clean_str)\n\
          \n    # 提取name和values的值\n    name_pattern = r'\"name\":\\s*\\[(.*?)\\]'\n\
          \    values_pattern = r'\"values\":\\s*\\[(.*?)\\]'\n\n    name_match =\
          \ re.search(name_pattern, clean_str)\n    values_match = re.search(values_pattern,\
          \ clean_str)\n\n    names = []\n    if name_match:\n        names = re.findall(r'\"\
          ([^\"]*)\"', name_match.group(1))\n\n    values = []\n    if values_match:\n\
          \        values = [float(num.strip()) for num in values_match.group(1).split(',')]\n\
          \n    option = {\n        \"xAxis\": {\n            \"type\": 'category',\n\
          \            \"data\": names\n        },\n        \"yAxis\": {\n       \
          \     \"type\": 'value'\n        },\n        \"series\": [\n           \
          \ {\n                \"data\": values,\n                \"type\": 'bar',\n\
          \                \"showBackground\": True,\n                \"backgroundStyle\"\
          : {\n                    \"color\": 'rgba(180, 180, 180, 0.2)'\n       \
          \         }\n            }\n        ]\n    };\n    # 生成输出文件\n    output\
          \ = f'```echarts\\n{json.dumps(option, ensure_ascii=False)}\\n```'\n   \
          \ return {\n        \"result\": output,\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1772440563115'
          - jsonData
          value_type: string
          variable: jsonData
      height: 52
      id: '1772440664989'
      position:
        x: 1368
        y: 815
      positionAbsolute:
        x: 1368
        y: 815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1033
      y: -427
      zoom: 1
  rag_pipeline_variables: []
