Dify/小红书爆改工作流/小红书文案改写工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 小红书文案改写工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1772612665833-source-1772612677849-target
      source: '1772612665833'
      sourceHandle: source
      target: '1772612677849'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1772612677849-source-1772612745908-target
      source: '1772612677849'
      sourceHandle: source
      target: '1772612745908'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: parameter-extractor
      id: 1772612745908-source-1772612849077-target
      source: '1772612745908'
      sourceHandle: source
      target: '1772612849077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1772612849077-source-1772613047099-target
      source: '1772612849077'
      sourceHandle: source
      target: '1772613047099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1772612849077-source-1772613144138-target
      source: '1772612849077'
      sourceHandle: source
      target: '1772613144138'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: iteration
      id: 1772612849077-source-1772613578097-target
      source: '1772612849077'
      sourceHandle: source
      target: '1772613578097'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1772613047099-source-1772613733551-target
      source: '1772613047099'
      sourceHandle: source
      target: '1772613733551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1772613144138-source-1772613733551-target
      source: '1772613144138'
      sourceHandle: source
      target: '1772613733551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: variable-aggregator
      id: 1772613578097-source-1772613733551-target
      source: '1772613578097'
      sourceHandle: source
      target: '1772613733551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: end
      id: 1772613733551-source-1772613781809-target
      source: '1772613733551'
      sourceHandle: source
      target: '1772613781809'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1772613578097'
        sourceType: iteration-start
        targetType: tool
      id: 1772613578097start-source-1772614313951-target
      source: 1772613578097start
      sourceHandle: source
      target: '1772614313951'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: url
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: url
      height: 109
      id: '1772612665833'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: 小红书文案链接
            ja_JP: 小红书文案链接
            pt_BR: 小红书文案链接
            zh_Hans: 小红书文案链接
          llm_description: ''
          max: null
          min: null
          name: url
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          url: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 0d6e1358-74ca-43a8-98a2-8ed3e462fd1d
        provider_name: 小红书工具
        provider_type: workflow
        selected: false
        title: 小红书工具
        tool_configurations: {}
        tool_description: 通过输入的小红书文案的链接获取文案的图片，标题和内容
        tool_label: 小红书工具
        tool_name: red_tools
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: '{{#1772612665833.url#}}'
        type: tool
      height: 52
      id: '1772612677849'
      position:
        x: 136
        y: 523
      positionAbsolute:
        x: 136
        y: 523
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\n\ndef main(arg1: str) -> dict:\n    arg1 =\
          \ re.sub(r'\\\\','\"', arg1)\n    return {\n        \"result\": json.loads(arg1)\n\
          \    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1772612677849'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1772612745908'
      position:
        x: 172
        y: 719
      positionAbsolute:
        x: 172
        y: 719
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: 小红书文案的标题
          name: og_title
          required: false
          type: string
        - description: 文案内容
          name: description
          required: false
          type: string
        - description: 图片列表
          name: og_images
          required: false
          type: array[string]
        query:
        - '1772612745908'
        - result
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1772612849077'
      position:
        x: 125
        y: 918
      positionAbsolute:
        x: 125
        y: 918
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0fdb20c4-c02b-4d38-9c77-67baf283882c
          role: system
          text: " <instruction>\n你是一个小红书的优化专家，负责将用户提供的标题{{#1772612849077.og_title#}}优化得更加吸引人眼球。以下是你的任务指南：\n\
            \n1. **理解原标题的核心内容**：首先仔细阅读原标题，确保你完全理解其表达的主题、情感和关键信息。\n2. **分析目标受众**：考虑小红书的主要用户群体（年轻女性、时尚爱好者、美妆达人等），确保优化后的标题能引起她们的共鸣。\n\
            3. **运用吸引眼球的技巧**：\n   - 使用emoji（如\U0001F484、\U0001F484、\U0001F525等）增加视觉冲击力。\n\
            \   - 加入数字或列表形式（如“3个技巧”“5分钟搞定”）。\n   - 制造悬念或提出问题（如“你知道为什么明星都在用吗？”）。\n\
            \   - 强调效果或价值（如“瞬间提升气质”“省钱必备”）。\n4. **保持简洁**：标题长度控制在20字以内，确保信息清晰且抓人眼球。\n\
            5. **避免夸张或虚假信息**：优化后的标题必须真实反映内容，不能误导读者。\n6. **输出格式**：直接输出优化后的标题，不要包含任何额外的解释或XML标签。\n\
            \n<examples>\n<example>\n输入：如何快速化妆\n输出：\U0001F4845分钟快速化妆术，懒人必备！\n</example>\n\
            \n<example>\n输入：夏天穿搭推荐\n输出：\U0001F525夏日穿搭Top5，显瘦又清凉！\n</example>\n\n<example>\n\
            输入：护肤小技巧\n输出：✨3个护肤秘诀，让你素颜也发光！\n</example>\n</examples>\n\n其他注意事项：\n- 如果原标题已经非常吸引人，可以稍作调整或直接保留。\n\
            - 避免使用过于复杂的词汇，确保标题通俗易懂。\n- 根据小红书的热门话题趋势，适当加入流行词汇（如“绝绝子”“yyyds”等）。\n</instruction>"
        selected: false
        title: 优化标题
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772613047099'
      position:
        x: 628.9924620454688
        y: 635.6365381279811
      positionAbsolute:
        x: 628.9924620454688
        y: 635.6365381279811
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: de7a6daf-ff75-4059-bf79-dc5d9277d0d8
          role: system
          text: "<instruction>\n你是一个小红书文案优化专家，擅长将普通文案转化为吸引眼球、引发互动的优质内容。以下是你的工作流程和注意事项：\n\
            </instruction>\n\n<instructions>\n1. 首先仔细阅读用户提供的原始文案{{#1772612849077.description#}}，理解其核心信息和目标受众。\n\
            2. 分析文案中可以优化的关键点，包括但不限于：\n   - 标题吸引力\n   - 开场白冲击力\n   - 情感共鸣点\n   - 关键词布局\n\
            \   - 互动引导设计\n</instructions>\n3.运用小红书平台的热门文案技巧进行优化：\n   - 添加emoji\U0001F343\
            \U0001F353✨等表情符号\n   - 使用网络流行语\n   - 制造悬念或提出问题\n   - 加入个人化表达\n   - 创造场景感\n\
            4.保持文案真实性，避免过度夸张\n5.确保优化后的文案符合小红书社区规范\n6.最终输出时不要包含任何XML标签\n7.如果文案涉及特定产品或领域，可适当加入相关专业知识\n\
            \n请始终使用中文进行优化，保持文案风格活泼亲切，符合小红书平台的调性。\n</instructions>\n\n<examples>\n\
            <example>\n原始文案：\n这款面膜真的很好用，补水效果明显\n\n优化文案：\n\U0001F691急救警告！这款面膜让我干到起皮的脸一夜回春！敏感肌姐妹速进！#护肤干货\
            \ #面膜测评\n</example>\n原始文案：\n健身三个月，终于看到效果了\n\n优化文案：\n暴汗90天对比图 | 从XL到M码，我的减肥血泪史谁懂啊！附详细运动饮食计划\U0001F4AA\
            \ #健身打卡 #减肥逆袭\n</example>\n</examples>\n\n<additional_notes>\n1. 注意保持文案长度适中，通常100-300字为佳\n\
            2. 合理使用话题标签，一般3-5个为宜\n3. 可以适当运用“姐妹”“集美”等亲切称呼增强互动感\n4. 重要信息可以重复强调，但不要过度\n\
            5. 保持文案的视觉层次感，适当分段和使用符号\n</additional_notes>\n</instruction>"
        - id: c189638e-514d-48b3-b101-3b18f8edc19f
          role: user
          text: 用户输入的文案内容是：{{#1772612849077.description#}}
        selected: false
        title: 优化内容
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772613144138'
      position:
        x: 652.1487698445148
        y: 918
      positionAbsolute:
        x: 652.1487698445148
        y: 918
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1772612849077'
        - og_images
        output_selector:
        - '1772614313951'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1772613578097start
        title: 迭代
        type: iteration
        width: 386
      height: 146
      id: '1772613578097'
      position:
        x: 591.3634618720189
        y: 1200.7994241776628
      positionAbsolute:
        x: 591.3634618720189
        y: 1200.7994241776628
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 386
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1772613578097start
      parentId: '1772613578097'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 615.3634618720189
        y: 1268.7994241776628
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1772613047099'
          - text
        - - '1772613144138'
          - text
      height: 136
      id: '1772613733551'
      position:
        x: 1093.0866166387912
        y: 781.8107311094593
      positionAbsolute:
        x: 1093.0866166387912
        y: 781.8107311094593
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772613047099'
          - text
          value_type: string
          variable: title
        - value_selector:
          - '1772613144138'
          - text
          value_type: string
          variable: description
        - value_selector:
          - '1772613578097'
          - output
          value_type: array[string]
          variable: imagesUrl
        selected: false
        title: 输出
        type: end
      height: 143
      id: '1772613781809'
      position:
        x: 1395.0866166387912
        y: 781.8107311094593
      positionAbsolute:
        x: 1395.0866166387912
        y: 781.8107311094593
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1772613578097'
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: url
            ja_JP: url
            pt_BR: url
            zh_Hans: url
          llm_description: ''
          max: null
          min: null
          name: url
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: prompt
            ja_JP: prompt
            pt_BR: prompt
            zh_Hans: prompt
          llm_description: ''
          max: null
          min: null
          name: prompt
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          prompt: ''
          url: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 1a444258-70cb-42e1-9cfb-17d9945f9dac
        provider_name: 图生图工具
        provider_type: workflow
        selected: false
        title: 图生图工具
        tool_configurations: {}
        tool_description: 以一张图片为基础生成另一张风格不同的图片
        tool_label: 图生图工具
        tool_name: pict2pict
        tool_node_version: '2'
        tool_parameters:
          prompt:
            type: mixed
            value: 随便调整一下图片的背景
          url:
            type: mixed
            value: '{{#1772613578097.item#}}'
        type: tool
      height: 52
      id: '1772614313951'
      parentId: '1772613578097'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 719.3634618720189
        y: 1268.7994241776628
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: -9.549811339956591
      y: -110.60054496744073
      zoom: 0.690956439983888
  rag_pipeline_variables: []
