Dify/历史故事播报助手/历史故事播报助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 历史故事播报助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.44@9dac23fe837d6da24a2cd9ef959c1c93e4e094b7562ad8a2fd3d4cc86c0e3e89
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772702088870-source-1772702093707-target
      source: '1772702088870'
      sourceHandle: source
      target: '1772702093707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1772702093707-source-1772702534350-target
      source: '1772702093707'
      sourceHandle: source
      target: '1772702534350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1772702534350-source-1772702426440-target
      source: '1772702534350'
      sourceHandle: source
      target: '1772702426440'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 历史故事主题
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: input
      height: 109
      id: '1772702088870'
      position:
        x: -129
        y: 252
      positionAbsolute:
        x: -129
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: b907c618-f3ea-4a0a-82c8-aec071ad4194
          role: system
          text: '### 角色清晰


            作为中国历史学者，您是一位深谱中国历史的学者，尤其擅长运用《资治通鉴》及其他二十四史等经典历史文献。您的任务是通过历史的视角，分析并解读当代事件。


            ### 结构化交互


            请按照以下步骤进行：


            1.  **确认事件**：请用户提供具体的当代事件或问题。

            2.  **历史背景**：从《资治通鉴》或其他二十四史中选择相关的历史事件或背景。

            3.  **分析比较**：通过比较历史事件与当代事件，指出相似之处和不同之处。

            4.  **解读与建议**：基于历史分析，提供对当代事件的解读和可能的建议。


            ### 明确指导


            1.  **信息请求**：请用户详细描述他们希望您分析的当代事件或问题。

            2.  **反馈机制**：在每一步分析后，请用户确认信息是否准确，并询问是否需要进一步的解释或其他角度的分析。


            ### 个性化体验


            请确保您的分析尽可能与用户提供的具体事件或问题密切相关。例如，如果用户提到一个政治事件，您可以选择相关的历史政治事件进行比较。'
        - id: a4c92760-c23e-4eb5-91e5-a88921ec8c12
          role: user
          text: '{{#1772702088870.input#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772702093707'
      position:
        x: 296
        y: 249
      positionAbsolute:
        x: 296
        y: 249
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772702093707'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1772702534350'
          - files
          value_type: array[file]
          variable: voice
        selected: false
        title: 输出
        type: end
      height: 116
      id: '1772702426440'
      position:
        x: 796
        y: 139
      positionAbsolute:
        x: 796
        y: 139
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The text to be converted.
            ja_JP: The text to be converted.
            pt_BR: The text to be converted.
            zh_Hans: 要转换的文本。
          label:
            en_US: Text
            ja_JP: Text
            pt_BR: Text
            zh_Hans: 文本
          llm_description: The text to be converted.
          max: null
          min: null
          name: text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: All available TTS models. You can config model in the Model Provider
              of Settings.
            ja_JP: All available TTS models. You can config model in the Model Provider
              of Settings.
            pt_BR: All available TTS models. You can config model in the Model Provider
              of Settings.
            zh_Hans: 所有可用的 TTS 模型。你可以在设置中的模型供应商里配置。
          label:
            en_US: Model
            ja_JP: Model
            pt_BR: Model
            zh_Hans: Model
          llm_description: null
          max: null
          min: null
          name: model
          options:
          - icon: null
            label:
              en_US: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              ja_JP: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              pt_BR: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
              zh_Hans: FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            value: langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B
          placeholder:
            en_US: Select a model
            ja_JP: Select a model
            pt_BR: Select a model
            zh_Hans: 选择模型
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            ja_JP: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            pt_BR: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
            zh_Hans: Select a voice for FunAudioLLM/CosyVoice2-0.5B model
          label:
            en_US: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            ja_JP: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            pt_BR: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
            zh_Hans: Voice of FunAudioLLM/CosyVoice2-0.5B(langgenius/siliconflow/siliconflow)
          llm_description: null
          max: null
          min: null
          name: voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B
          options:
          - icon: null
            label:
              en_US: Alex（男声）
              ja_JP: Alex（男声）
              pt_BR: Alex（男声）
              zh_Hans: Alex（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:alex
          - icon: null
            label:
              en_US: Benjamin（男声）
              ja_JP: Benjamin（男声）
              pt_BR: Benjamin（男声）
              zh_Hans: Benjamin（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:benjamin
          - icon: null
            label:
              en_US: Charles（男声）
              ja_JP: Charles（男声）
              pt_BR: Charles（男声）
              zh_Hans: Charles（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:charles
          - icon: null
            label:
              en_US: David（男声）
              ja_JP: David（男声）
              pt_BR: David（男声）
              zh_Hans: David（男声）
            value: FunAudioLLM/CosyVoice2-0.5B:david
          - icon: null
            label:
              en_US: Anna（女声）
              ja_JP: Anna（女声）
              pt_BR: Anna（女声）
              zh_Hans: Anna（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:anna
          - icon: null
            label:
              en_US: Bella（女声）
              ja_JP: Bella（女声）
              pt_BR: Bella（女声）
              zh_Hans: Bella（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:bella
          - icon: null
            label:
              en_US: Claire（女声）
              ja_JP: Claire（女声）
              pt_BR: Claire（女声）
              zh_Hans: Claire（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:claire
          - icon: null
            label:
              en_US: Diana（女声）
              ja_JP: Diana（女声）
              pt_BR: Diana（女声）
              zh_Hans: Diana（女声）
            value: FunAudioLLM/CosyVoice2-0.5B:diana
          placeholder:
            en_US: Select a voice
            ja_JP: Select a voice
            pt_BR: Select a voice
            zh_Hans: Select a voice
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          model: ''
          text: ''
          voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: /console/api/workspaces/current/tool-provider/builtin/audio/icon
        provider_id: audio
        provider_name: audio
        provider_type: builtin
        selected: false
        title: Text To Speech
        tool_configurations:
          model:
            type: constant
            value: langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B
          voice#langgenius/siliconflow/siliconflow#FunAudioLLM/CosyVoice2-0.5B:
            type: constant
            value: FunAudioLLM/CosyVoice2-0.5B:benjamin
        tool_description: 将文本转换为音频文件。
        tool_label: Text To Speech
        tool_name: tts
        tool_node_version: '2'
        tool_parameters:
          text:
            type: mixed
            value: '{{#1772702093707.text#}}'
        type: tool
      height: 114
      id: '1772702534350'
      position:
        x: 602.9999961853027
        y: 434.99999618530273
      positionAbsolute:
        x: 602.9999961853027
        y: 434.99999618530273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -320
      y: 265
      zoom: 1
  rag_pipeline_variables: []
